:root {
  --main-font-family: Montserrat font;
  --main-color: #0063a1;
  --secondary-color: #543100;
  --main-font-color: black;
  --secondary-font-color: white;
  --spacing: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pic-ctn {
  height: 240px; /* trouver une solution pour automatiser hauteur du container */
  width: 100%;
  position: relative;
  margin-top: 15vh;
  margin-bottom: calc(var(--spacing) * 2);
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: display 10s infinite;
  width: 100%;
}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.advice {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--spacing);
  background-color: var(--main-color);
  /* background-color: transparent; */
}

.pathology {
  padding: var(--spacing);
}

.pathology h1 {
  margin-bottom: calc(var(--spacing) * 2);
}
