:root {
    --clr_gray1: rgb(216, 214, 214);
    --clr_gray2: rgb(138, 138, 138);
    --clr_hover: rgb(178, 101, 201);
    --clr_title: rgb(30, 224, 78);

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color:var(--clr_gray1);
    height: 100vh;
}
header>h1{
    text-align: center;
    line-height: 1.5em;
    font-size: 3rem;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 var(--clr_title), 0 4px 0 var(--clr_title),
        0 5px 0 var(--clr_title), 0 6px 0 var(--clr_title),
        0 20px 30px rgba(0, 0, 0, 0.5);
}
header h2{
    text-align: center;
    line-height: 3.5em;
    font-size: 1.5rem;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 var(--clr_title), 0 4px 0 var(--clr_title),
        0 5px 0 var(--clr_title), 0 6px 0 var(--clr_title),
        0 20px 30px rgba(0, 0, 0, 0.5);
}


    
.nav{
    border-bottom: 1px solid var(--clr_gray2);

}
.navToggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    left: 0;
}

label>svg{
    width: 1.5rem;
    fill:rgb(21, 36, 36)
}
.close{
    display: none;
}
.menu{
    margin-top: 0.2rem;
}

.navCheckbox{
    display: none;
}
.navMenu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin:1rem;
}

.navSousItemdrop{
    display: none;
}

.navSousItemdrop_active{
    box-shadow: 0 0 10px var(--clr_gray2);
    background-color: white;
    border-radius: 4px;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}


li{
    list-style: none;
    padding: 0.5rem 1rem;
    display: none;
    transition: background-color 200ms ease-in-out;

}
.navMenu li:hover, 
.navMenu li:focus{
    background-color: var(--clr_hover)
}
li:first-child{
    /* margin-left: 4px; */
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

a>svg{
    width: 1.5rem;
    fill:var(--clr_gray2)
}

#navCheckbox:checked ~ ul.navMenu li{
    display: block;
}

#navCheckbox:checked ~ label.navToggle .close{
    display: block;
}

#navCheckbox:checked ~ label.navToggle .menu{
    display: none;
}


  
@media screen and (min-width:560px) {

    .navMenu{
        margin: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        /* height: 80px; */
        transition: background .2s ease,box-shadow .2s ease;
        box-shadow: 0 1px 0 #f7f7f7;
    }
    .nav .navToggle{
        display: none;
    }
    .nav .navMenu{
        flex-direction: row;
    }
    li{
        display: block;
    }
    .navSousItemdrop{
        top: 3rem;
        left:18rem;
    }
    .destination{
        position: relative;
    }
    .navSousItemdrop_active{
        position: absolute;
        top:2.5rem;
        
    }

    header>h1{
        text-align: center;
        line-height: 3em;
        font-size: 7rem;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
            0 3px 0 var(--clr_title), 0 4px 0 var(--clr_title),
            0 5px 0 var(--clr_title), 0 6px 0 var(--clr_title),
            0 20px 30px rgba(0, 0, 0, 0.5);
    }
    header h2{
        text-align: center;
        
        font-size: 4rem;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
            0 3px 0 var(--clr_title), 0 4px 0 var(--clr_title),
            0 5px 0 var(--clr_title), 0 6px 0 var(--clr_title),
            0 20px 30px rgba(0, 0, 0, 0.5);
    }
    
    .parallax-effect {
        background-image: url("./haeder-img.jpg");
        min-height: 600px;
        background-attachment: fixed;
        background-position:bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .parallax-effect + div {
        height: 1000px;
        /* background-image: linear-gradient(to right top, #7e95a8, #95b6f3, #d31e2d, #2c2fce, #070707); */
        font-size: 36px;
        text-align: center;
        font-family: "Raleway", Arial, sans-serif;
      }
}
