#concept{
    background-color: inherit;
    margin-bottom: 5rem ;
}
 .concept {
    flex-flow:column;
    justify-content:center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: left;
 }

@media screen and (min-width: 560px) {
    #concept {
        height:40vh; 
    }

    .concept{
        text-align: center;
        margin-top: 5rem;
        line-height: 3rem;
        width:100%;   
    }    
}