@media screen and (min-width: 560px) {
  .advice {
    font-size: 1rem;
  }

  .bandeau-container {
    flex-direction: row;
  }

  .circuit-container {
    height: 600px;
  }

  .circuit-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .circuit-container {
    height: 800px;
  }
}


@media screen and (min-width: 560px) {
  .revenues {
    min-width: 600px;
    max-width: 1000px;
  }

  #RFR-input {
    min-width: 250px;
  }

  .submit-btn:hover {
    background-color: goldenrod;
    cursor: grab;
  }

  .close-formulas:hover {
    background-color: goldenrod;
    cursor: grab;
  }

  #contact-link:hover {
    background-color: goldenrod;
    cursor: grab;
  }

  .result-txt {
    margin-bottom: var(--spacing);
    font-size: calc(var(--main-font-size) * 2);
  }

  .formula {
    max-width: 400px;
  }
}
